.container-menu__items {
    display: flex;
    justify-content: center;
}

.container-label {
    margin-bottom: 50px;
}

.about2 {
    padding-bottom: 50px;
    
}

.container__main-block {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
    
}
.main-block {
    width: 1200px;
    display: flex;
    justify-content: center;
}
.main-block__left {
    width: 500px;
    @media screen and (max-width: 992px)
    {
width: 40%;
    }
}
.main-block__right {
    display: flex;
    justify-content: center;
}
.img-block__right{
    @media screen and (max-width: 992px)
    {
    
    width: 70%;
    

    }
}
.text-about {
    margin-top: 150px;
    margin-left: 150px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 22px;
}
.container__icons {
display: flex;
text-align: center;
width: 1200px;   
justify-content: center;
flex-wrap: wrap;
}

.row1 {
    display: flex;
    margin-bottom: 30px;
    @media screen and (max-width: 992px)
    {
        flex-direction: column;
    
    }
}
.row2 {
    display: flex;
    @media screen and (max-width: 992px)
    {
        flex-direction: column;

    }
}


.container-icon {
    display: flex;
    width: 300px;
    margin-right: 40px;
    @media screen and (max-width: 992px)
    {
        margin-bottom: 40px;

    }
    align-items: center;
}

.container-texts {
    width: 200px;
}
.header-container__about{
    text-transform: uppercase;
    padding-left: 20px;
    margin-bottom: 10px;
}
.text {
    text-align: left;
    padding-left: 20px;
}
.button-order {
    
    background: #EF7F04;
    font-size: 13px;
    border-radius: 3px;
    border: none;
	color: #fff;
    margin-top: 40px;
    height: 40px;
    text-align: center;
    align-self: center;
    margin-bottom: 50px;
    
}
.buttons-order {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.big-container__icons{
    display: flex;
    justify-content: center;
}