.contacts{
    
    &__container {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        @media screen and (max-width: 992px)
		{
        display: block;
        width: 50%;
        margin: 0 auto;
        align-items: center;
		}
    }

    &__phone-wrap{
        display: inline-block;
        width: 700px;
    }

    &__left {
        margin: 100px 0px 0px 0px;
    }        


    &__telephone {
        display: inline-block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 36px;
        margin: 40px 50px 50px 0px;
        
    }

    &__label-small {
        
        font-family: 'Roboto';
        font-style: normal;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        height: 20px;
        color:#2F2F51;
    }
    
    &__address-wrap {
        display: inline-block;
        width: 100%;
    }

    &__icon-address {
        display: inline-block;
    }

    &__address {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 0px 0px 20px 40px;
    
       }
    

    &__email-wrap {
        display: inline-block;

    }
    
    &__icon-email {
        display: inline-block;
        margin: 0px 40px 50px 0px;
        cursor: pointer;
    }

    &__email {
        display: inline-block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        cursor: pointer;
    }

    &__text {
        width: 230px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        margin: 0px 0px 30px 0px;
        color: #2F2F51;
    }

    &-icon {
        margin: 0px 10px 0px 0px;
        cursor: pointer;
    }
    &__icons-wrap {
        display: inline-block;
        width: 230px;
    }
    &__builders {
        display: inline-block;
        vertical-align: top;
        margin: 0px 0px 0px 30px;
    }
    &-wrap {
        display: inline-block;
    }
    &__image-wrap{
        display: flex;
    }

    &__form {
        background: #FFFFFF;
        border-radius: 10px;
        width: 512px;
        height: 565px;

    }

    

    &__right {
        &-name__input {
            width: 395px;
            height: 52px;
            background: #E2E2E2;
            border-radius: 3px;
            margin: 0px auto 21px auto;
            border: none;

        }

        &-email__input {
            width: 395px;
            height: 52px;
            background: #E2E2E2;
            border-radius: 3px;
            margin: 0px auto 21px auto;
            border: none;
        }

        &-report__input {
            width: 395px;
            height: 134px;
            background: #E2E2E2;
            border-radius: 3px;
            margin: 0px auto 21px auto;
            border: none;
        }

        &__agreement-wrap {
            display: flex;
            align-items: center;
            width: 375px;
            margin: 0 auto;


        }
        &-agreement-button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 15px 0px 0px 0px;
        }

        &__agreement-body {
            display: flex;
            width: 600px;
            color:#2F2F51;
        }
    }
}
.orange {
    color: #EF7F1A;
}