.main {
    margin-top: 30px;
    background-image: url('../img/main/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 65px;
    width: 98vw;
    display: flex;
    justify-content: center;
    
    @media screen and (max-width: 992px)
		{
            
            height: 562px;
            width: max-width;
		}    

}

.container
{
    width: 98vw;
    justify-content: center;

}
.main-info
{
    
    padding-top: 69px;
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 992px)
    {
justify-content: center;
    }

    
		&__left
{ padding: 60px 52px 0px 85px;



}
		&__right
        {
    text-align: center;

   .right__feedback{
        background: #fff;
        border-radius: 2px;
        width: 405px;
        padding: 43px 40px 65px 40px;
        margin-bottom: 40px;
        border-radius: 10px;
        position:relative;
    @media screen and (max-width: 992px)
		{
    display: none;
		}
   &-inputs{
        margin-bottom: 24px;
    }
        
    }
    
    .input__item::placeholder {
        color:#424268;
    }   

    
    .right__feedback-title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #2F2F51;
        margin-bottom: 27px;
        
        
        
    


}
.right__feedback-button{
    padding: 19px 40px;
    background: #ef7f04;
    border-radius:3px;
    border: none;
    color: #fff;
    font-size: 14px;

}

}
.measure-tape {
position:absolute;
left:-90px;


}
.left
{
   
		&__title
{
    font-family: Roboto;
    font-weight: 100;
    font-size: 36px;
    color:#fff;
    span{
    color:#ef7f04;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px
    }

}
.prof{
    padding-bottom: 50px;
}

		&__advantages
{
display: flex;
}

		&__advantages-item
{
width: 210px;

}

		&__advantages-icon
{

}

		&__advantages-description
{
    color: #fff;
    padding-top: 20px;
    width: 160px;
}
}

* {
    box-sizing:border-box;
    
}
.input__checkbox{
    display: flex;
    
}

.agreement {
    padding-left: 10px;
    font-size: 12px;
    padding-bottom: 20px;
    text-align: left;
}
}
.input__item {
    display:block;  
    width: 100%;
    margin-bottom: 15px;
    height: 40px;
    background-color: #e2e2e2;
    outline: none;
    border: none;
    border-radius: 3px;
    padding-left: 16px;
}
.input__item-checkbox {
    width: 25px;
    height: 25px;   
}
.input__checkbox{
    font-size: 12px;
    padding-bottom: 10px;
    margin-top: 22px;
    text-align: left;
    margin-left: 10px;
    
}